body {
  background: url('32281196-green-casino-table-background.jpg') no-repeat center fixed; 
  background-size: cover;
}

.cardspread {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 113px;
  height: 157px;
  margin-top: -63px;
  margin-bottom: -63px;
}
#centercolumn .card {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -90px;
}

#center {
  display: flex;
}
#center > .cardspread {
  flex-flow: column;
}
#centercolumn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#ui {
  text-align: center;
}

div {
  padding: 5px;
  background-color: lightpink;
  border: 2px solid black;
}
