body {
  background: url('32281196-green-casino-table-background.jpg') no-repeat center
    fixed;
  background-size: cover;
}

h3 {
  margin: 5px;
}

input {
  width: 40px;
}

.cardspread {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 113px;
  height: 157px;
  margin-top: -63px;
  margin-bottom: -63px;
}
#centercolumn .card {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -90px;
}

#center {
  display: flex;
  height: 50vh;
}
#center > .cardspread {
  flex-flow: column;
}
#centercolumn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
}

#ui {
  text-align: center;
}

div {
  padding: 5px;
  background-color: lightpink;
}

#menu {
  display: flex;
  justify-content: space-around;
}
.workspace {
  height: 80vh;
  overflow: auto;
}
.workspace, .workspace div {
  background-color: black;
  color: white;
}
.blank {
  background-color: white;
  color: gray;
  padding: 5px;
}

#math-buttons button {
  background-color: #43bc7c;
}
.MATH.block {
  outline: 1px solid #43bc7c;
}
.MATH.block, .MATH.block div:not(.block) {
  color: #43bc7c;
}

#value-buttons button {
  background-color: #ce9178;
}
.VALUE.block {
  outline: 1px solid #ce9178;
}
.VALUE.block, .VALUE.block div:not(.block) {
  color: #ce9178;
}

#conjunction-buttons button {
  background-color: #9cdcfe;
}
.CONJUNCTION.block {
  outline: 1px solid #9cdcfe;
}
.CONJUNCTION.block, .CONJUNCTION.block div:not(.block) {
  color: #9cdcfe;
}

#conditional-buttons button {
  background-color: #569cd6;
}
.CONDITIONAL.block {
  outline: 1px solid #569cd6;
}
.CONDITIONAL.block, .CONDITIONAL.block div:not(.block) {
  color: #569cd6;
}

#comparison-buttons button {
  background-color: #dcdcaa;
}
.COMPARISON.block {
  outline: 1px solid #dcdcaa;
}
.COMPARISON.block, .COMPARISON.block div:not(.block) {
  color: #dcdcaa;
}

#action-buttons button {
  background-color: red;
}
.ACTION.block {
  outline: 1px solid red;
}
.ACTION.block, .ACTION.block div:not(.block) {
  color: red;
}

#menu button {
  text-align: center;
  font-size: 18px;
}
#menu > div {
  justify-content: center;
}

.block.selected {
  outline: 4px dotted white;
}
.blank.selected {
  outline: 4px dotted white;
}